@charset "UTF-8";

.ribbon1-wrapper {
	display: block;
	position: relative;
	padding: 100px 0;
	width: 1500px;
	background: #f1f1f1;
	text-align: center;
	height: 200px;
	font-size: 40px;
}

.ribbon1 {
	display: inline-block;
	position: relative;
	height: 150px;
	text-align: center;
	box-sizing: border-box;
	-webkit-transform: rotate(-10deg) skew(-17deg, 4deg);
	transform: rotate(-10deg) skew(-17deg, 4deg);
}

.ribbon1:before {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -7px;
	left: -100px;
	z-index: -2;
}

.ribbon1:after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -10px;
	right: -100px;
	z-index: -2;
}

.ribbon1 h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 20px;
	line-height: 150px;
	font-size: 50px;
	color: white;
	background: #f8aa37;
}

.ribbon1 h1:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 7px transparent;
	border-right: solid 25px #c6821e;
}

.ribbon1 h1:after {
	position: absolute;
	content: '';
	top: 100%;
	right: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-left: solid 15px #c6821e;
}

table {
	border-collapse: collapse; /* セルの線を重ねる */
    font-size: 35px;
	text-align: center;
}

tr:nth-child(odd) {
	background-color: pink; /* 背景色指定 */
}

th, td {
	padding: 10px 20px; /* 余白指定 */
}

pre {
	font-size: 20px;
}

.menu {
	width: 50%;
	margin: 20px auto;
	position: relative;
}

select {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	padding: 6px 5px;
	box-sizing: border-box;
	font-size: 20px;
	border: #ccc 1px solid;
	border-radius: 0;
	background: #fff;
}

.menu::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 5%;
	top: 35%;
	border-bottom: #333 2px solid;
	border-right: #333 2px solid;
	transform: rotate(45deg) translateY(-150%);
}


