@charset "UTF-8";

.ribbon1-wrapper {
	display: block;
	position: relative;
	padding: 80px 0;
	width: 100px;
	background: #f1f1f1;
	text-align: center;
	height: 200px;
	font-size: 40px;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}

.ribbon1 {
	display: inline-block;
	position: relative;
	height: 150px;
	text-align: center;
	box-sizing: border-box;
	-webkit-transform: rotate(-10deg) skew(-17deg, 4deg);
	transform: rotate(-10deg) skew(-17deg, 4deg);
}

.ribbon1:before {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -10px;
	left: -100px;
	z-index: -2;
	-webkit-appearance: none;
	appearance: none;
}

.ribbon1:after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -10px;
	right: -100px;
	z-index: -2;
}

.ribbon1 h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 20px;
	line-height: 150px;
	font-size: 50px;
	color: white;
	background: #f8aa37;
}

.ribbon1 h1:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 7px transparent;
	border-right: solid 25px #c6821e;
}

.ribbon1 h1:after {
	position: absolute;
	content: '';
	top: 100%;
	right: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-left: solid 15px #c6821e;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table th:first-child {
	border-radius: 5px 0 0 0;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

table th {
	text-align: center;
	color: white;
	background: linear-gradient(#829ebc, #225588);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 5%;
	padding: 10px 0;
}

table td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 5%;
	padding: 10px 0;
}

table td:last-child {
	border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.add input[type="submit"] {
	font-size: 20px;
}

.menu {
	text-align: center;
}

.update input[type="submit"] {
	font-size: 20px;
}
