@charset "UTF-8";

.ribbon1-wrapper {
	display: block;
	position: relative;
	padding: 70px 0;
	width: 100px;
	background: yellow;
	text-align: center;
	height: 250px;
	font-size: 40px;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}

.ribbon1 {
	display: inline-block;
	position: relative;
	height: 150px;
	text-align: center;
	box-sizing: border-box;
	-webkit-transform: rotate(-10deg) skew(-17deg, 4deg);
	transform: rotate(-10deg) skew(-17deg, 4deg);
}

.ribbon1:before {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -10px;
	left: -100px;
	z-index: -2;
	-webkit-appearance: none;
	appearance: none;
}

.ribbon1:after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: #eb9920;
	bottom: -10px;
	right: -100px;
	z-index: -2;
}

.ribbon1 h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 20px;
	line-height: 150px;
	font-size: 50px;
	color: white;
	background: #f8aa37;
	font-family:HG行書体;
	text-align:center;
}

.ribbon1 h1:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 7px transparent;
	border-right: solid 25px #c6821e;
}

.ribbon1 h1:after {
	position: absolute;
	content: '';
	top: 100%;
	right: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-left: solid 15px #c6821e;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table th:first-child {
	border-radius: 5px 0 0 0;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

table th {
	text-align: center;
	color: white;
	background: linear-gradient(#829ebc, #225588);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 5%;
	padding: 10px 0;
}

table td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 5%;
	padding: 10px 0;
}

table td:last-child {
	border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.add input[type="submit"] {
	font-size: 17px;
	width: 100%;
	background: black;
	color: white;
	cursor: pointer; /* カーソル   */
	padding: 12px 12px; /* 余白       */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.add input[type="submit"]:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 文字色     */
	background: pink; /* 背景色     */
}

.menu {
	text-align: center;
}


.update input[type="submit"] {
	font-size: 17px;
	width: 100%;
	background: black;
	color: white;
	cursor: pointer; /* カーソル   */
	padding: 12px 12px; /* 余白       */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.update input[type="submit"]:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 文字色     */
	background: pink; /* 背景色     */
}

.da input[type="submit"] {
	font-size: 17px;
	width: 100%;
	background: black;
	color: white;
	cursor: pointer; /* カーソル   */
	padding: 12px 12px; /* 余白       */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.da input[type="submit"]:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 文字色     */
	background: red; /* 背景色     */
}

.common input[type="submit"] {
	font-size: 17px;
	width: 50%;
	background: black;
	color: white;
	cursor: pointer; /* カーソル   */
	padding: 12px 12px; /* 余白       */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.common input[type="submit"]:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 文字色     */
	background: pink; /* 背景色     */
}

.board textarea {
	width: 100%;
	height: 80px;
	font-size:20px;
}

.board input[type="submit"] {
	font-size: 17px;
	width: 100%;
	background: black;
	color: white;
	cursor: pointer; /* カーソル   */
	padding: 12px 12px; /* 余白       */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	border: 2px solid #000066; /* 枠の指定 */
}

.board input[type="submit"]:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #000066; /* 文字色     */
	background: pink; /* 背景色     */
}
input[type=checkbox] {
  transform: scale(1.5);
  margin: 0 6px 0 0;

}

.error{
	color:red;
	font-size:20px;
	text-align:center;
}
.memo{
	width:40%;
}
.NAME{
	width:15%;
}

.drop th{
	background:skyblue;
	color:black;
}
.drop input[type="text"],textarea,input[type="date"],select,input[type="text"]{
	font-size:20px;
}
