@charset "UTF-8";
.ribbon1 h1 {
  /*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: center;
  display: inline-block;
  height: 100px;/*高さ*/
  width: 300px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 50px;/*文字のサイズ*/
  font-family:Monotype Corsiva;
  line-height: 100px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.ribbon1 h1:before {
  /*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.ribbon1 h1 {
  /*アイコン*/
  font-size: 40px;/*アイコンサイズ*/
  position: relative;
  top: 10px;/*アイコン位置の微調整*/
  width: 100%;/*全体を覆う*/
}

.ribbon1 h1{
  /*テキスト*/
  display:inline-block;
  position: relative;
  transition: 3s
  }

.ribbon1 h1:hover{
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  transition: 5s
}


body{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    background: #34495e;
}

/*ログインフォームのエリア内のスタイル*/
.form{
    width: 300px;
    padding: 60px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.form{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

/* ユーザーIDとパスワード入力ボックスのスタイル */
.form input[type="text"], .form input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

/* 入力ボックスがフォーカスされたときのスタイル（幅が大きくなる＆枠の色が変わる） */
.form input[type="text"]:focus, .box input[type="text"]:focus{
    width: 280px;
    border-color: blue;
}

/* Loginボタンのスタイル */
.form input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

/* Loginボタンをマウスオーバーしたときのスタイル */
.form input[type="submit"]:hover{
    background: #2ecc71;

}