@charset "UTF-8";

body{
	background:#E6FFE9;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table th:first-child {
	border-radius: 5px 0 0 0;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

table th {
	text-align: center;
	color: white;
	background: linear-gradient(navy, black);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 5%;
	padding: 10px 0;
	font-size:20px;
}

table td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 5%;
	padding: 10px 0;
	font-size:17px;
}

table td:last-child {
	border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

h1 {
	font-family:HG行書体;
	padding: 50px 10px;
	font-size: 80px;
	background: linear-gradient(navy, black);
	color:white;
}



h3 {
	background: linear-gradient(black,purple);
	text-align:center;
	padding: 1rem 2rem;
	border-top: 4px solid #d8dcdc;
	border-right: 4px solid #666;
	border-bottom: 4px solid #333;
	border-left: 4px solid #868888;
	border-radius: 0;
	font-family:Monotype Corsiva;
	font-size:40px;
	color: white;
}

table{
	color:black;
}
a{
	font-size:17px;
}