@charset "UTF-8";

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table th:first-child {
	border-radius: 5px 0 0 0;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

table th {
	text-align: center;
	color: black;
	background: linear-gradient(gold, yellow);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 5%;
	padding: 10px 0;
}

table td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 5%;
	padding: 10px 0;
}

table td:last-child {
	border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

h1 {
	font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro',
		'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
	padding: 50px 10px;
	color: #fff;
	background: #000;
	font-size: 80px;
}

h1 span {
	background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
	background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	background: #000;
	text-align:center;
	padding: 1rem 2rem;
	border-top: 4px solid #d8dcdc;
	border-right: 4px solid #666;
	border-bottom: 4px solid #333;
	border-left: 4px solid #868888;
	border-radius: 0;
	font-family:Monotype Corsiva;
	font-size:30px;
	color: gold
}
body{
	background:black;
}
table{
	color:white;
}
a{
	font-size:20px;
}