@charset "UTF-8";

body{
	background:black;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

table th:first-child {
	border-radius: 5px 0 0 0;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
}

table th {
	text-align: center;
	color: white;
	background: linear-gradient(skyblue, black);
	border-left: 1px solid #3c6690;
	border-top: 1px solid #3c6690;
	border-bottom: 1px solid #3c6690;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
	width: 5%;
	padding: 10px 0;
	font-size:20px;
}

table td {
	text-align: center;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	border-top: none;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 5%;
	padding: 10px 0;
	font-size:17px;
}

table td:last-child {
	border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

h1 {

	font-size:100px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: linear-gradient(0deg, #75A9FF 0%, #75A9FF 55%, #b0d683 70%, #75A9FF 85%, #75A9FF 90% 100%);
	-webkit-background-clip: text;

}

h3 {
	text-align:center;
	line-height:60px;
	font-weight:1000;
	color: transparent;
	background: linear-gradient(0deg, #75A9FF 0%, #75A9FF 55%, #b0d683 70%, #75A9FF 85%, #75A9FF 90% 100%);
	-webkit-background-clip: text;
	font-size:50px;
	border-top: 6px solid #d8dcdc;
	border-right: 6px solid #666;
	border-bottom: 6px solid #333;
	border-left: 6px solid #868888;
	border-radius: 0;
	font-size:50px;
}

table{
	color:white;
}
a{
	font-size:17px;
	color:skyblue;
}