<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>新規リスト</title>
</head>
<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<br> <br>新規リスト追加 <br> <span class="error"
			th:text="${message}"></span> <br>
	</div>

	<form action="/addList" method="post">
		<div class="drop">
			<table border="1">
				<tr>
					<th>カテゴリー</th>
					<td><select name="category">
							<option th:each="c:${session.category}" th:value="${c.code}"
								th:text="${c.name}" th:selected="${c.code==category}"></option>
					</select></td>
				</tr>
				<tr>
					<th>タイトル</th>
					<td><input type="text" name="title" th:value="${title}"></td>
				</tr>
				<tr>
					<th>やること</th>
					<td><textarea name="content" th:value="${content}"></textarea></td>
				</tr>
				<tr>
					<th>期日</th>
					<td><input type="date" name="date" th:value="${date}"></td>
				</tr>
				<tr>
					<th>優先順位</th>
					<td><select name="rank">
							<option th:each="r:${session.rank}" th:value="${r.code}"
								th:text="${r.name}" th:selected="${r.code==rank}"></option>
					</select></td>
				</tr>
			</table>
			<div class="add">
				<input type="submit" value="登録">
			</div>
		</div>
	</form>
	<br>

	<a href="/list" style="font-size: 20px">リストに戻る</a>
	<hr>
	<span th:replace="logout"></span>
</body>
</html>