<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規リスト</title>
</head>
<body>
<h3>リスト登録</h3>

	<form action="/addList" method="post">
		<table border="1">
		<tr>
			<td>カテゴリー</td>
			<td><input type="text" name=""></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td><input type="text" name="password"></td>
		</tr>
		</table>
		<input type="submit" value="登録">
	</form>

	<hr>


</body>
</html>