<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>詳細</title>
</head>
<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<p style="text-align: center">詳細</p>
	</div>
	<form action="/detail" method="post">
		<input type="hidden" name="code" th:value="${record.code}">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td th:text="${record.title}"></td>
			</tr>
			<tr>
				<th>やること</th>
				<td th:text="${record.content}"></td>
			</tr>
			<tr>
				<th>期日</th>
				<td th:text="${#dates.format(record.date,'yyyy-MM-dd')}"></td>
			<tr>
				<th>カテゴリー</th>
				<td th:text="${category}" >
				</td>
			</tr>
			<tr>
				<td>優先順位</td>
				<td th:text="${record.rank}"></td>
			</tr>

		</table>
	</form>
	<hr>
	<a href="/list">リストに戻る</a>
	<a href="/log">削除履歴リストに戻る</a>
	<span th:replace="logout"></span>
</body>
</html>