<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>TODOリスト</title>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script type="text/javascript">
	$(function() {
		// 1. 「全選択」する
		$('#all').on(
				'click',
				function() {
					$("input[name='check']").prop('checked', this.checked);
					var checked = $(this).prop("checked");
					if (checked) {
						$("input[name='check']").closest("tr").css(
								"text-decoration", "line-through");
					} else {
						$("input[name='check']").closest("tr").css(
								"text-decoration", "none");
					}
				});

		// 2. 「全選択」以外のチェックボックスがクリックされたら、
		$("input[name='check']").on('click', function() {
			var checked = $(this).prop("checked");
			if (checked) {
				$(this).closest("tr").css("text-decoration", "line-through");
			} else {
				$(this).closest("tr").css("text-decoration", "none");
			}
		});
	});
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script>
$(function(){
    $('.sort-table').tablesorter({
        textExtraction: function(node){
            var attr = $(node).attr('data-value');
            if(typeof attr !== 'undefined' && attr !== false){
                return attr;
            }
            return $(node).text();
        }
    });
});
</script>
</head>
<body>

	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<br> <br> <span th:replace="menu"></span>
	</div>
	<hr>
	<pre>
<a href="/addList" style="font-size: 20px;">リスト追加</a>   <a href="/log"
			style="font-size: 20px">削除履歴</a>   <a href="/shareList"
			style="font-size: 20px">共有リスト</a>
	</pre>
	<hr>
	<div id="menu"></div>
	<form action="/selectdelete" method="post">
		<table style="text-align:center;" class="sort-table">
			<thead>
				<tr>
				<th colspan="2" style="background:black"></th>
				<td>優先度</td>
				<td>期日順</td>
				<th colspan="2" style="background:black"></th>
				</tr>
			</thead>
				<tr>
					<th style="font-size: 17px"><label for="all"><input
							type="checkbox" name="allChecked" id="all">全選択/全解除</label></th>
					<th style="font-size: 22px">TODO</th>
					<th style="font-size: 22px">優先度</th>
					<th style="font-size: 22px">期日</th>
					<th colspan="2">
				</tr>
				<tbody>
				<tr th:each="todolist:${session.todolists}" style="font-size: 18px">
					<td><div id="check">
							<input type="checkbox" name="check" th:value="${todolist.code}"><label
								for="checkbox"></label>
						</div></td>
					<td><a th:href="'/update/' + ${todolist.code}"
						th:text="${todolist.title}"></a></td>
					<td th:text="${todolist.rank}" ></td>
					<td th:text="${#dates.format(todolist.date,'yyyy-MM-dd')}"></td>
					<td><a th:href="'/share/'+ ${todolist.code}">共有</a></td>
					<td><a th:href="'/delete/'+ ${todolist.code}">削除</a></td>
				</tr>
			</tbody>
		</table>
		<div class="da">
			<input type="submit" value="まとめて削除">
		</div>
		<br>

	</form>


	<hr>

	<span th:replace="logout"></span>


</body>
</html>