<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>TODOリスト</title>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$(function() {
		// 1. 「全選択」する
		$('#all').on('click', function() {
			$("input[name='check']").prop('checked', this.checked);
		});
		// 2. 「全選択」以外のチェックボックスがクリックされたら、
		$("input[name='check']").on('click', function() {
			if ($('#check :checked').length == $('#check :input').length) {
				// 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
				$('#all').prop('checked', true);
			} else {
				// 1つでもチェックが入っていたら、「全選択」 = checked
				$('#all').prop('checked', false);
			}
		});
	});
</script>
</head>

<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<br>
		<br> 削除履歴
	</div>
	<hr>
	<form action="/selectdeletelog" method="post">
		<table border="1" align="center">

			<tr>
				<th><label for="all"><input type="checkbox"
						name="allChecked" id="all">全選択</label></th>
				<th>TODO</th>
				<th>期日</th>
				<th>完全削除</th>
			</tr>
			<tr th:each="todolist:${session.todolists}">
				<td><div id="check">
						<input type="checkbox" name="check" th:value="${todolist.code}"><label
							class="checkbox"></label>
					</div></td>
				<td><a th:href="'/detail/' + ${todolist.code}"
					th:text="${todolist.title}"></a></td>
				<td th:text="${#dates.format(todolist.date,'yyyy-MM-dd')}"></td>
				<td><a th:href="'/deletelog/'+ ${todolist.code}">削除</a></td>
			</tr>

		</table>
		<div class="da">
			<input type="submit" value="まとめて完全削除">
		</div>
	</form>
	<br>
	<a href="/list" style="font-size: 20px">リストに戻る</a>
	<hr>
	<span th:replace="logout"></span>

</body>
</html>