<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/poker.css}" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
</head>
<body>
	<h3>あなたの資金 :
	<a th:text="${session.total}"></a></h3>
	<hr class="bar1">
	<h4>ボード</h4>
	<a th:if="${session.x>=1}">
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit5}"></span> <span
					th:text="${session.num5%13+1}"></span><br> <br>
				<div class="center">
					<span th:utext="${session.suit5}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit5}"></span> <span
						th:text="${session.num5%13+1}"></span>
				</div>
			</div>
		</div>
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit6}"></span> <span
					th:text="${session.num6%13+1}"></span><br> <br>
				<div class="center">
					<span th:utext="${session.suit6}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit6}"></span> <span
						th:text="${session.num6%13+1}"></span>
				</div>
			</div>
		</div>
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit7}"></span> <span
					th:text="${session.num7%13+1}"></span><br> <br>
				<div class="center">
					<span th:utext="${session.suit7}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit7}"></span> <span
						th:text="${session.num7%13+1}"></span>
				</div>
			</div>
		</div>
	</a>

	<a th:if="${session.x>=2}">
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit8}"></span> <span
					th:text="${session.num8%13+1}"></span><br> <br>
				<div class="center">
					<span th:utext="${session.suit8}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit8}"></span> <span
						th:text="${session.num8%13+1}"></span>
				</div>
			</div>
		</div>
	</a>
	<a th:if="${session.x>=3}">
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit9}"></span> <span
					th:text="${session.num9%13+1}"></span><br> <br>
				<div class="center">
					<span th:utext="${session.suit9}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit9}"></span> <span
						th:text="${session.num9%13+1}"></span>
				</div>
			</div>
		</div>
	</a>
	<hr class="bar1">
	<h4>あなたの手札</h4>
	<div class="card card-skin">
		<div class="card__imgframe">
			<span th:utext="${session.suit1}"></span> <span
				th:text="${session.num1%13+1}"></span> <br> <br>
			<div class="center">
				<span th:utext="${session.suit1}"></span>
			</div>
			<br>
			<div class="inverse">
				<span th:utext="${session.suit1}"></span> <span
					th:text="${session.num1%13+1}"></span>
			</div>
		</div>
	</div>

	<div class="card card-skin">
		<div class="card__imgframe">
			<span th:utext="${session.suit2}"></span> <span
				th:text="${session.num2%13+1}"></span> <br> <br>
			<div class="center">
				<span th:utext="${session.suit2}"></span>
			</div>
			<br>
			<div class="inverse">
				<span th:utext="${session.suit2}"></span> <span
					th:text="${session.num2%13+1}"></span>
			</div>
		</div>
	</div>
<h4>
	<a th:if="${session.y==1}"> <span th:text="${session.usermsg}"></span>
	</a></h4>
	<br>
	<hr class="bar1">
	<h4>CPUの手札</h4>
	<a th:if="${session.y==1}">
		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit3}"></span> <span
					th:text="${session.num3%13+1}"></span> <br> <br>
				<div class="center">
					<span th:utext="${session.suit3}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit3}"></span> <span
						th:text="${session.num3%13+1}"></span>
				</div>
			</div>
		</div>


		<div class="card card-skin">
			<div class="card__imgframe">
				<span th:utext="${session.suit4}"></span> <span
					th:text="${session.num4%13+1}"></span> <br> <br>
				<div class="center">
					<span th:utext="${session.suit4}"></span>
				</div>
				<br>
				<div class="inverse">
					<span th:utext="${session.suit4}"></span> <span
						th:text="${session.num4%13+1}"></span>
				</div>
			</div>
		</div> <h4><span th:text="${session.cpumsg}"></span></h4>
	</a>
	<hr class="bar1">

	<a th:if="${session.y==0}"> <h3>CPUのBET: <span
		th:text="${session.cpubet}"></span></h3>
	</a>
	<form action="frop" method="POST">
		<a th:if="${session.y==0}"> <input type="submit" value="コール・レイズ">
			<input type="number" name="bet" step="10">
		</a><h3>POT額 : <span th:text="${session.pool}"></span></h3>
	</form><h2><a th:if="${session.y==1}"> <span th:text="${session.msg}"></span>
	</a></h2>
	<hr class="bar1">
	<form action="open">
		<a th:if="${session.x>=3}"><span th:if="${session.y==0}"> <input
				type="submit" value="オープン">
		</span></a>
	</form>
	<form action="/top">
		<a th:if="${session.y==1}"> <input type="submit" value="RESET">
		</a>
	</form>
	<form action="/top">
		<a th:if="${session.y==0}"> <input type="submit" value="フォールド">
		</a>
	</form>


</body>
</html>