<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>リスト編集</title>
</head>
<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<br>
		<br>詳細画面
		<div class="error">
			<span th:text="${message}"></span>
		</div>
	</div>
	<form action="/detail" method="post">
		<input type="hidden" name="code" th:value="${record.code}">
		<table border="1">
			<tr>
				<th>投稿者</th>
				<td th:text="${userlist.get(__${record.userId}__-1).name}"></td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td th:text="${record.title}"></td>
			</tr>
			<tr>
				<th>やること</th>
				<td th:text="${record.content}"></td>
			</tr>
			<tr>
				<th>期日</th>
				<td th:text="${#dates.format(record.date,'yyyy-MM-dd')}"></td>
			<tr>
				<th>カテゴリー</th>
				<td th:text="${categorylist.get(__${record.categoryCode}__-1).name}"></td>
			</tr>
			<tr>
				<th>優先順位</th>
				<td th:text="${ranklist.get(__${record.rank}__-1).name}"></td>
			</tr>

		</table>
	</form>

	<form action="/apply/detail" method="post">
		<div class="board">
		<p>
			<textarea name="contents" placeholder="書き込み"></textarea>
		</p>
		<p>
			<input type="submit" value="投稿する">
		</p>
		</div>
	</form>

	<hr>

	<table style="width: 100%;" border="1">
		<tr>
			<th>日</th>
			<th>時</th>
			<th>名前</th>
			<th>書き込み</th>
		</tr>
		<tr th:each="rec:${allContents}">
			<td th:text="${#temporals.format(rec.date, 'yyyy/MM/dd')}"></td>
			<td th:text="${#temporals.format(rec.time, 'HH:mm')}"></td>
			<td th:text="${userlist.get(__${rec.userid}__-1).name}"></td>
			<td th:utext="${rec.contents}"></td>
		</tr>
	</table>
	<hr>
	<a href="/list" style="font-size: 20px">自分のリストに戻る</a>
	<hr>
	<span th:replace="logout"></span>
</body>
</html>