<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />

<title>共有リスト</title>
</head>
<body>
<div class="ribbon1-wrapper">
		<div class="ribbon1">
	<h1>　　共有事項　　</h1>
	</div></div>
	<table border="1">
		<tr>
			<th>ユーザID</th>
			<th>タイトル</th>
			<th>内容</th>
			<th>期日</th>
			<th>カテゴリー</th>
			<th>優先度</th>
		</tr>
		<tr th:each="s:${session.shareList}">
			<td th:text="${userlist.get(__${s.userId}__-1).name}"></td>
			<td><a th:href="'/shareDetail/' + ${s.code}" th:text="${s.title}"></a></td>
			<td th:text="${s.content}"></td>
			<td th:text="${#dates.format(s.date,'yyyy-MM-dd')}"></td>
			<td th:text="${categorylist.get(__${s.categoryCode}__-1).name}"></td>
			<td th:text="${ranklist.get(__${s.rank}__-1).name}"></td>
		</tr>
	</table>
	<br>
	<a href="/list" style="font-size: 20px">自分のリストに戻る</a>
	<hr>
	<span th:replace="logout"></span>
</body>
</html>