<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>共有リスト</title>
</head>
<body>
	<h3>全ToDoList情報</h3>
	<table border="1">
		<tr>
			<th>ユーザID</th>
			<th>タイトル</th>
			<th>内容</th>
			<th>期日</th>
			<th>カテゴリー</th>
			<th>優先度</th>
		</tr>
		<tr th:each="s:${session.shareList}">
			<td th:text="${userlist.get(__${s.userId}__-1).name}"></td>
			<td><a th:href="'/shareDetail/' + ${s.code}" th:text="${s.title}"></a></td>
			<td th:text="${s.content}"></td>
			<td th:text="${#dates.format(s.date,'yyyy-MM-dd')}"></td>
			<td th:text="${categorylist.get(__${s.categoryCode}__-1).name}"></td>
			<td th:text="${ranklist.get(__${s.rank}__-1).name}"></td>
		</tr>
	</table>
</body>
</html>