<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>リスト編集</title>
</head>
<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<p style="text-align: center">編集画面</p>
	</div>
	<form action="/share/edit" method="post">
		<input type="hidden" name="code" th:value="${record.code}">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td><input type="text" th:value="${record.title}" name="title"></td>
			</tr>
			<tr>
				<th>やること</th>
				<td><input type="text" th:value="${record.content}"
					name="content"></td>
			</tr>
			<tr>
				<th>期日</th>
				<td><input type="date"
					th:value="${#dates.format(date, 'yyyy-MM-dd')}" name="date"></td>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<td><select name="category">
						<option th:each="c:${session.category}" th:value="${c.code}"
							th:text="${c.name}" th:selected="${c.code==category}"></option>
				</select></td>
			</tr>

			<tr>
				<td>優先順位</td>
				<td><select name="rank">
						<option th:each="r:${session.rank}" th:value="${r.code}"
							th:text="${r.name}" th:selected="${r.code==rank}"></option>
				</select></td>
			</tr>

		</table>
		<input type="submit" name="regi" value="登録">
		<input type="submit" name="rele" value="共有の解除">
	</form>
	<span th:text="${message}" style="color:red"></span>
	<hr>
	<a href="/list">リストに戻る</a>
	<span th:replace="logout"></span>
</body>
</html>