<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />
<title>リスト編集</title>
</head>
<body>
	<div class="ribbon1-wrapper">
		<div class="ribbon1">
			<h1>
				<span th:text="'（'+${session.userInfo.name}+' さんのTODOリスト）'"></span>
			</h1>
		</div>
		<p style="text-align: center">共有リスト編集画面</p>
	</div>
	<form action="/share/edit" method="post">
		<input type="hidden" name="code" th:value="${record.code}">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td><input type="text" th:value="${record.title}" name="title"
					style="font-size: 18px"></td>
			</tr>
			<tr>
				<th>やること</th>
				<td><input type="text" th:value="${record.content}"
					name="content" style="font-size: 18px"></td>
			</tr>
			<tr>
				<th>期日</th>
				<td><input type="date"
					th:value="${#dates.format(date, 'yyyy-MM-dd')}" name="date"
					style="font-size: 18px"></td>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<td><select name="category" style="font-size: 18px">
						<option th:each="c:${session.category}" th:value="${c.code}"
							th:text="${c.name}" th:selected="${c.code==category}"></option>
				</select></td>
			</tr>

			<tr>
				<th>優先順位</th>
				<td><select name="rank" style="font-size: 18px">
						<option th:each="r:${session.rank}" th:value="${r.code}"
							th:text="${r.name}" th:selected="${r.code==rank}"></option>
				</select></td>
			</tr>

		</table>
		<div class="common">
			<input type="submit" name="regi" value="登録"><input
				type="submit" name="rele" value="共有の解除">
		</div>
	</form>
	<div class="error">
		<span th:text="${message}"></span>
	</div>
	<br>
	<hr>
	<h3>共有メモ</h3>
	<form action="/apply/update" method="post">
		<div class="board">
			<textarea name="contents" placeholder="書き込み"></textarea>
			<input type="submit" value="書き込む" style="font-size: 15px">
		</div>
	</form>

	<hr>

	<table style="width: 100%;" border="1">
		<tr>
			<th>日</th>
			<th>時</th>
			<th>名前</th>
			<th>メモ</th>
		</tr>
		<tr th:each="rec:${allContents}">
			<td th:text="${#temporals.format(rec.date, 'yyyy/MM/dd')}"></td>
			<td th:text="${#temporals.format(rec.time, 'HH:mm')}"></td>
			<td th:text="${userlist.get(__${rec.userid}__-1).name}"></td>
			<td th:utext="${rec.contents}"></td>
		</tr>
	</table>

	<hr>

	<a href="/shareList" style="font-size: 20px">共有リストに戻る</a>
	<br>
	<a href="/list" style="font-size: 20px">自分のリストに戻る</a>
	<hr>
	<span th:replace="logout"></span>
</body>
</html>