<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/list.css}" rel="stylesheet" type="text/css" />

<title>共有リスト</title>
</head>
<body>
<div class="ribbon1-wrapper">
		<div class="ribbon1">
	<h1>　　　共有リスト　　　</h1>
	</div></div>
	<table border="1">
		<tr>
			<th  style="font-size:20px;">ユーザID</th>
			<th  style="font-size:20px;">カテゴリー</th>
			<th  style="font-size:20px;">タイトル</th>
			<th  style="font-size:20px;">内容</th>
			<th  style="font-size:20px;">期日</th>
			<th  style="font-size:20px;">優先度</th>
		</tr>
		<tr th:each="s:${session.shareList}"  style="font-size:18px;">
			<td th:text="${userlist.get(__${s.userId}__-1).name}"  style="font-size:18px;"></td>
			<td th:text="${categorylist.get(__${s.categoryCode}__-1).name}"  style="font-size:18px;"></td>
			<td><a th:href="'/shareDetail/' + ${s.code}" th:text="${s.title}"  style="font-size:18px;"></a></td>
			<td th:text="${s.content}"  style="font-size:18px;"></td>
			<td th:text="${#dates.format(s.date,'yyyy-MM-dd')}"  style="font-size:18px;"></td>
			<td th:text="${ranklist.get(__${s.rank}__-1).name}"  style="font-size:18px;"></td>
		</tr>
	</table>
	<br>
	<a href="/list" style="font-size: 20px">自分のリストに戻る</a>
	<hr>
	<span th:replace="logout"></span>
</body>
</html>