<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>リスト編集</title>
</head>
<body>
	<form action="/update" method="post">
		<input type="hidden" name="code" th:value="${record.code}">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td><input type="text" th:value="${record.title}" name="title"></td>
			</tr>
			<tr>
				<th>やること</th>
				<td><input type="text" th:value="${record.content}"
					name="content"></td>
			</tr>
			<tr>
				<th>期日</th>
				<td><input type="date" th:value="${record.date}" name="date"></td>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<td><input type="text" th:value="${record.categoryCode}"
					name="category_code"></td>
			</tr>
			<tr>
				<td>優先順位</td>
				<td><input type="number" th:value="${record.rank}" name="rank"></td>
			</tr>

		</table>
		<input type="submit" value="登録">
	</form>
</body>
</html>